.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

header {
  width: 100%;
  background-color: #3d3d3d;
}
#check {
  display: none;
}

label i {
  padding: 10px;
}

.menu-btn {
  display: none;
  padding: 10px;
  width: 35px;
  height: 35px;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.menu li a:hover {
  color: #d73c15;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .menu {
    position: absolute;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
    background-color: #2b2b2b;
  }
  .menu ul {
    flex-direction: column;
  }
  /*Busca la clase menú para activarlo*/
  #check:checked ~ .menu {
    margin: 0;
  }
}
